body{
    background-color: rgb(156, 89, 89);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 33px;
}
h1{
    color: blue;
    text-align: center;
}
ul{
    list-style-type: georgian;
    padding-top: 300px;
    margin: 20px;
