body{
    background-color: rgb(156, 89, 89);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 33px;
}
@keyframes pulsujkolor {
    0% { color: red}
    50% { color: pink}
    100% { color: green}
}
h1{
    color: blue;
    text-align: center;
    animation: pulsujkolor 4s infinite;
}
ul{
    list-style-type: georgian;
    padding-top: 300px;
    margin: 20px;
}
.wyroznione{
    color: rgb(39, 240, 240);
    font-weight: bold;
    background-color: blueviolet;
}
p{
    margin: 15px;
    line-height: 1.6;
    text-indent: 20px;
}
